.books {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.book {
    width: 250px;
    height: 350px;
    padding: 5px;
    border: 2px solid;
    margin: 0 20px;
    border-radius: 10px;
}